In [ ]:
#student enters marks in different practice tests
#return the average

total_marks = 0
count = 0

while True:
  print("enter marks in test(enter -ve to exit):")
  temp_inp = int(input())
  if temp_inp < 0:
    print("Exiting Loop!")
    break
  else:
    total_marks += temp_inp
    count += 1

print("Your average is: ", total_marks / count)

enter marks in test(enter -ve to exit):
56
enter marks in test(enter -ve to exit):
70
enter marks in test(enter -ve to exit):
68
enter marks in test(enter -ve to exit):
75
enter marks in test(enter -ve to exit):
65
enter marks in test(enter -ve to exit):
85
enter marks in test(enter -ve to exit):
-3
Exiting Loop!
Your average is:  69.83333333333333

Why Lists?

Defining a list

In [ ]:
#How to define a list in Python

a = [56,75,33,44,89]
b = [10,567]
c = [5,"Aakash","Green House",98.5]

type(c)

list

In [ ]:
d = [45,67,2,3,4,5,6,6,7,7,7,7,7,8,2,2,2,2,2,2,3,3,3,76]

len(d)

24

In [ ]:
my_list = [1,2,3,4,"HELLO",[10,20,30]]

type(my_list)

list

#Accessing elements in a list

In [ ]:
#Using indexes (and noting how 'index' is different from 'position')

a = [5,6,8,"ONE"]

print(a)

print(a[2])

[5, 6, 8, 'ONE']
8

In [ ]:
#Quiz 2

In [ ]:
marks_list = [56,75,43,89,95,77,78]

#average marks in the last 3 tests for this student

sum = marks_list[4] + marks_list[5] + marks_list[6]

print(sum/3)

83.33333333333333

In [ ]:
#Accessing ALL elements using a for loop
marks_list = [56,75,43,89,95,77,78,100,98,76,56]

for x in marks_list:
  print(x)

In [ ]:
#write code to find average marks

marks_list = [56,75,43,89,95,77,78,100,98,76,56]

sum = 0
#count = 0
for x in marks_list:
  sum += x

print(sum/len(marks_list))

76.63636363636364

In [ ]:
#In-class exercise
#print only the even numbers in a given integer list

In [ ]:
#Accessing ALL elements using indexes and a for loop

In [ ]:
#In-class exercise
#given an integer list,
#print only the numbers at even positions

marks_list = [56,75,43,89,95,77,78]

for i in range(1,len(marks_list),2):
  print(marks_list[i])

75
89
77

In [ ]:
#Negative indexes

In [ ]:
#Quiz 3

#Modifying existing elements of a list

In [ ]:
#Change second element to zero

a = [500,900,475,683]

print("Original list:", a)

Original list: [500, 900, 475, 683]

In [ ]:
#In-class exercise
#given an integer list,
#replace all the even VALUES with their "squares"

b = [34,10,10,10,10,1]
for i in range(len(b)):
  if b[i] % 2 ==0:
    b[i] = b[i]**2

print(b)

[1156, 100, 100, 100, 100, 1]

#Dynamically growing a list

In [ ]:
#Adding an element at the end

queue = []

for num in range(1,10+1):
  queue.append(num)

list

In [ ]:
#Quiz 4

In [ ]:
#Quiz 5

In [ ]:
#Appending multiple elements to list

In [ ]:
#Extending a list with multiple elements

list_a = [5, 4, 3]
list_b = [2,1,0]

list_a.extend(list_b)
print(list_a)

In [ ]:
#Inserting an element at a given index

a = [6, 4, 3, 1]

x = 5
index = 1

a.insert(index,x)

print(a[2])

In [ ]:
#insert a new element into the left-most position of a list

a = [45,67,23,4]
text = "FIRST COMMENT!!!!!!!!"

i = 0
a.insert(i,text)

a

['FIRST COMMENT!!!!!!!!', 45, 67, 23, 4]

#Dynamically shriking a list

In [ ]:
#Popping out the last element

a = [1,2,3,4,5]


x = a.pop()
a

[1, 2, 3, 4]

In [ ]:
print(x)

5

In [ ]:
#Popping an element, if you know the index

a = [1,2,3,4,5]
i = -2 #index of element which you want to pop out

a.pop(i)
a

[1, 2, 3, 5]

In [ ]:
#remove first element

a = [1,2,3,4,5]
i = 0 #index of element which you want to pop out

a.pop(i)
a

[2, 3, 4, 5]

In [ ]:
#Removing an element whose 'value' you know

a.remove()

Extra quizzes

In [ ]:
#Quiz 6 onwards

#Copying a list

#Quiz 1

In [ ]:
#How many elements does my_list have?

my_list = [0]

len(my_list)

1

In [ ]:
a = []

len(a)

0

#Quiz 2

In [ ]:
#what is the output of this?

my_list = [1,2,"Three"]
print(my_list[2])

Three

#Quiz 3

In [ ]:
#Output of

my_list = [1, 2, 3, 4, 5]
i = -1
while i >= -5:
    print(my_list[i], end = " ")
    i -= 1

#Quiz 4

In [ ]:
#What is the output of the following code?

my_list = [5, 4, 3, 2, 1]
my_list.append(6)
print(my_list)

#Quiz 5

In [ ]:
#What is the output:

list_a = [5, 4, 3]
list_b = [2,1,0]

list_a.append(list_b)
print(list_a)

[5, 4, 3, [2, 1, 0]]