In [2]:
for i in range(0, 6):
    print(i, end = " ")

0 1 2 3 4 5

In [8]:
for i in range(3):
    print(i)

0
1
2

In [9]:
# If only one value is provided
# that value becomes end and start is 0 by default
range(3) == range(0,3)

True

In [11]:
range(1.7, 8.7) # range only works with integers

TypeError: 'float' object cannot be interpreted as an integer

In [12]:
range(1, 2, 0.5)

TypeError: 'float' object cannot be interpreted as an integer

In [13]:
range(1, 7, 0)

ValueError: range() arg 3 must not be zero

In [14]:
len(range(1,8))

7

In [15]:
len(range(1,9,2))

4

In [17]:
len(range(5, 1, -1))

4

In [19]:
'''
Question 1 - 
Print all integers from 1 to N using for loop. (N to be included)
Take N as input from the user.
'''

'\nQuestion 1 - \nPrint all integers from 1 to N using for loop. (N to be included)\nTake N as input from the user.\n'

In [21]:
N = int(input())

for i in range(1, N + 1):
    print(i, end = " ")

10
1 2 3 4 5 6 7 8 9 10

In [22]:
'''
Question 2 - 
Take N as input from the user.
Calculate the sum of all numbers from 1 to N (N is included).
'''

'\nQuestion 2 - \nTake N as input from the user.\nCalculate the sum of all numbers from 1 to N (N is included).\n'

In [24]:
N = int(input())

final_sum = 0

for value in range(1, N + 1):
    final_sum += value # final_sum = final_sum + value
    
print("The final sum is -", final_sum)

3
The final sum is - 6

In [25]:
'''
DRY RUN - 
N = 3
final_sum = 0

START OF THE FOR LOOP ->
Iteration 1 - 
    value = 1
    final_sum = final_sum + value -> final_sum = 0 + 1 -> final_sum = 1

Iteration 2 - 
    value = 2
    final_sum = 1 + 2 -> final_sum = 3
    
Iteration 3 - 
    value = 3
    final_sum = 3 + 3 -> final_sum = 6
'''

'\nDRY RUN - \nN = 3\nfinal_sum = 0\n\nSTART OF THE FOR LOOP ->\nIteration 1 - \n    value = 1\n    final_sum = final_sum + value -> final_sum = 0 + 1 -> final_sum = 1\n\nIteration 2 - \n    value = 2\n    final_sum = 1 + 2 -> final_sum = 3\n    \nIteration 3 - \n    value = 3\n    final_sum = 3 + 3 -> final_sum = 6\n'

In [26]:
'''
Question 3 - 
FACTORIAL ->
Take N an input from the user.
Calculate the product of all numbers from 1 to N (N is included).
'''

'\nQuestion 3 - \nFACTORIAL ->\nTake N an input from the user.\nCalculate the product of all numbers from 1 to N (N is included).\n'

In [31]:
N = int(input())

factorial = 1

for i in range(2, N + 1):
    factorial *= i
    
print("Factorial =", factorial)

0
Factorial = 1

In [33]:
len(range(2, 1))

0

In [34]:
N = int(input())

factorial = N

for i in range(N - 1, 1, -1):
    factorial *= i
    
print("Factorial =", factorial)

5
Factorial = 120

In [35]:
'''
Question 4 - 
Take N as input from the user.
Calculate the product of all even numbers between 1 and N. Both included.
'''

'\nQuestion 4 - \nTake N as input from the user.\nCalculate the product of all even numbers between 1 and N. Both included.\n'

In [ ]:
range(2, N + 1, 2)

In [38]:
N = int(input())

even_product = 1

for i in range(2, N + 1, 2):
    even_product *= i
    
print(even_product)

7
48

In [42]:
N = int(input())

product = 1

for i in range(2, N+1 ,2):
    product *= i

print("product of even numbers =",product)

7
product of even numbers = 48

In [39]:
'''
Question 5 - 
Take start and end as input from the user.
Calculate the product of all even numbers between start and end.
Both included.

GIVEN - Both start and end will be greater than 0.
'''

'\nQuestion 5 - \nTake start and end as input from the user.\nCalculate the product of all even numbers between start and end.\nBoth included.\n\nGIVEN - Both start and end will be greater than 0.\n'

In [43]:
# SOLUTION 1

start = int(input("START - "))
end = int(input("END - "))

even_product = 1

for i in range(start, end + 1):
    if i % 2 == 0:
        even_product *= i
        
print("Even Product =", even_product)

START - 2
END - 9
Even Product = 384

In [44]:
# SOLUTION 2

start = int(input("START - "))
end = int(input("END - "))

even_product = 1

if start % 2 != 0:
    start += 1
    
for i in range(start, end + 1, 2):
    even_product *= i
    
print("Even Product =", even_product)

START - 2
END - 9
Even Product = 384

In [45]:
'''
Question 6 -
Print all the numbers from an input N to 1 in reverse order.
N > 1 -> Given
'''

'\nQuestion 6 -\nPrint all the numbers from an input N to 1 in reverse order.\nN > 1 -> Given\n'

In [46]:
N = int(input())

for i in range(N, 0, -1):
    print(i , end = " ")

10
10 9 8 7 6 5 4 3 2 1

In [47]:
'''
Question 7 -
Print all the numbers from an input N to 1 in reverse order.
WITHOUT USING NEGATIVE JUMP!
N > 1 -> Given
'''

'\nQuestion 7 -\nPrint all the numbers from an input N to 1 in reverse order.\nWITHOUT USING NEGATIVE JUMP!\nN > 1 -> Given\n'

In [48]:
# SOLUTION 1

N = int(input()) # 5

for i in range(N): # 0 1 2 3 4
    print(N - i, end = " ") # 5, 4, 3, 2, 1

5
5 4 3 2 1

In [49]:
# SOLUTION 2

N = int(input()) # 5

for i in range(-N, 0): # -5 -4 -3 -2 -1
    print(-i, end = " ") # 5 4 3 2 1

5
5 4 3 2 1