# TUPLES

In [1]:
# A tuple is like a constant list

In [2]:
a = [1,2,3,4]

In [5]:
a.append(5) # Increase the length of a list

In [4]:
a

[1, 2, 3, 4, 5]

In [6]:
a[0] = 100

In [7]:
a

[100, 2, 3, 4, 5, 5]

In [8]:
# A LIST CAN BE MODIFIED -> MUTABLE
# A TUPLE CAN'T BE MODIFIED -> IMMUTABLE

In [9]:
# We can define a tuple using ()
a = (1,2,3,4)

In [10]:
a.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [11]:
a.remove(4)

AttributeError: 'tuple' object has no attribute 'remove'

In [12]:
a[0] = 100

TypeError: 'tuple' object does not support item assignment

In [13]:
# You are an intern at ISRO
planets = ["mercury", "venus", "earth", "mars", "jupyter", "saturn", "uranus", "neptune"]

In [14]:
planets[0] = "Bipin's Planet"

In [15]:
planets

["Bipin's Planet",
 'venus',
 'earth',
 'mars',
 'jupyter',
 'saturn',
 'uranus',
 'neptune']

In [16]:
planets = ("mercury", "venus", "earth", "mars", "jupyter", "saturn", "uranus", "neptune")

In [17]:
planets[0] = "RANDOM"

TypeError: 'tuple' object does not support item assignment

In [18]:
a = tuple(range(1, 11))

In [19]:
a

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [20]:
a[6]

7

In [21]:
a[-2]

9

In [22]:
a[4:7]

(5, 6, 7)

In [23]:
for i in a:
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [24]:
l = []

In [26]:
type(l)

list

In [27]:
t = ()

In [28]:
type(t)

tuple

In [30]:
l = [1]
type(l)

list

In [31]:
t = (5)
type(t)

int

In [32]:
expression = ((5 + 6) // 2) ** 2

In [33]:
expression

25

In [34]:
t = (5,) # This extra comma tells python that this is not an expression

In [35]:
type(t)

tuple

In [47]:
t = ("random",)

In [48]:
t

('random',)

In [40]:
len(t)

1

In [41]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)

In [42]:
t3 = t1 + t2

In [43]:
t3

(1, 2, 3, 4, 5, 6)

In [44]:
id(t1)

140431079252352

In [45]:
id(t2)

140431079304640

In [46]:
id(t3)

140431077637472

In [49]:
[1,2,3] + 5

TypeError: can only concatenate list (not "int") to list

In [50]:
(4) + (1,2,3)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [51]:
(4,) + (1,2,3)

(4, 1, 2, 3)

In [52]:
type(("random"))

str

In [53]:
type(("random",))

tuple

In [54]:
string = "abcde"

In [55]:
l = []

for i in string:
    l.append(i)
    
print(l)

['a', 'b', 'c', 'd', 'e']

In [56]:
list("abcde")

['a', 'b', 'c', 'd', 'e']

In [58]:
tuple("abcde")

('a', 'b', 'c', 'd', 'e')

In [59]:
# PACKING AND UNPACKING

In [60]:
a = (1, 2, 3)

In [65]:
x, y, z = a # UNPACKING the tuple into individual variables

In [66]:
x

1

In [67]:
y

2

In [68]:
z

3

In [70]:
x, y = a

# We will learn how to fix this issue in the ADVANCE PYTHON module

ValueError: too many values to unpack (expected 2)

In [71]:
w, x, y, z = a

ValueError: not enough values to unpack (expected 4, got 3)

In [72]:
def foo():
    return 100, 200, 300 # PACKING all three values into a tuple

In [73]:
a = foo()

In [74]:
a

(100, 200, 300)

In [75]:
x, y, z = foo() # PACKING and UNPACKING working together

In [76]:
x

100

In [77]:
y

200

In [78]:
z

300

In [79]:
a = [(1, "Bipin"), (2, "Chetan"), (3, "Divya"), (4, "KASI"), (5, "Piyush")]

In [80]:
for i in a:
    print(i)

(1, 'Bipin')
(2, 'Chetan')
(3, 'Divya')
(4, 'KASI')
(5, 'Piyush')

In [82]:
for i in a:
    print(f"Roll Number - {i[0]}, Name - {i[1]}")

Roll Number - 1, Name - Bipin
Roll Number - 2, Name - Chetan
Roll Number - 3, Name - Divya
Roll Number - 4, Name - KASI
Roll Number - 5, Name - Piyush

In [83]:
for roll_number, name in a:
    print(f"Roll Number - {roll_number}, Name - {name}")

Roll Number - 1, Name - Bipin
Roll Number - 2, Name - Chetan
Roll Number - 3, Name - Divya
Roll Number - 4, Name - KASI
Roll Number - 5, Name - Piyush

In [84]:
'''
Question 1 -
Write code to swap two variable values using a third variable.
'''

'\nQuestion 1 -\nWrite code to swap two variable values using a third variable.\n'

In [85]:
a = "sugar"
b = "salt"

In [86]:
temp = a
a = b
b = temp

In [87]:
a

'salt'

In [88]:
b

'sugar'

In [95]:
a, b = b, a # THE PYTHON WAY OF SWAPPING!

In [96]:
a

'sugar'

In [97]:
b

'salt'

In [98]:
a = 1,2,3,4,5

In [99]:
a

(1, 2, 3, 4, 5)

In [101]:
t = ("string", 12, 5.6, True, (1,2,3,4,5), [1,2,3])
# TUPLES ARE HETEROGENEOUS!

# SETS

In [102]:
# A collection of unique values

In [103]:
# Create a set using {}
s = {1,2,3,3,3,3,3,3,3,4,4,4,4,4,4,5,5,5,6,6,6,6,6,7,7,8,8,9,0}

In [104]:
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [106]:
s[0]

TypeError: 'set' object is not subscriptable

In [108]:
5 in s

True

In [109]:
20 in s

False

In [110]:
a = {1,2,3}

In [111]:
a

{1, 2, 3}

In [112]:
a.add(4)

In [113]:
a

{1, 2, 3, 4}

In [114]:
a.remove(3)

In [115]:
a

{1, 2, 4}

In [116]:
a.update([1,2,3,4,5,6,7,8,9,10])

In [117]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [118]:
a = {}

In [119]:
type(a)

dict

In [122]:
a = set() # CREATING AN EMPTY SET

In [123]:
type(a)

set

In [125]:
a = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [126]:
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [128]:
'''
Question 2 - 
Take a string as input.
Print the number of unique characters present inside that string.

"aabbcccd" -> 4
'''

'\nQuestion 2 - \nTake a string as input.\nPrint the number of unique characters present inside that string.\n\n"aabbcccd" -> 4\n'

In [130]:
len(set("aabbcccd"))

4

In [131]:
string = input()
unique_elements = len(set(string))

bipin kalra

In [132]:
unique_elements

9

In [133]:
s1 = {2,3,4}
s2 = {1,2,4,5,6}

In [134]:
s1.intersection(s2)

{2, 4}

In [135]:
s1 & s2

{2, 4}

In [136]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [137]:
s1 | s2

{1, 2, 3, 4, 5, 6}

In [138]:
s1.difference(s2)

{3}

In [139]:
s1 - s2

{3}

In [140]:
s1.symmetric_difference(s2)

{1, 3, 5, 6}

In [141]:
s1 ^ s2

{1, 3, 5, 6}

In [142]:
# HASHING -> We will learn about this with DSA
# Dictionaries and Sets use this internally

In [143]:
# Sets can't contain mutable datatypes -> lists, dictionaries, sets

In [144]:
s = {1, "string", 4.5, True, (1,2,3)}

In [145]:
s = {1, {1,2,3}}

TypeError: unhashable type: 'set'

In [146]:
s = {1, [1,2,3]}

TypeError: unhashable type: 'list'