In [1]:
s = {1,2,3,3,4,4,5,5,6}

In [2]:
s

{1, 2, 3, 4, 5, 6}

In [3]:
s = {"bipin", 12, 13, 14, 7.8}

In [4]:
type(s)

set

In [5]:
d = {
    "key1" : "value1",
    "key2" : "value2",
    "key3" : "value3"
}

# For keys, we will only use strings! -> SECOND HALF OF THIS LECTURE
# For values, we can use anything

In [7]:
d = {
    "key1" : 123,
    "key2" : 4.5,
    "key3" : [1,2,3]
}

In [8]:
d

{'key1': 123, 'key2': 4.5, 'key3': [1, 2, 3]}

In [9]:
# Number of constituencies in every State / UT

In [99]:
# Approach 1
state_wise_data = [("Delhi", 15), ("Haryana", 35), ("UP", 100)]

In [103]:
for i in state_wise_data:
    print(f"{i[0]} -> {i[1]}")

Delhi -> 15
Haryana -> 35
UP -> 100

In [21]:
state_wise_data[0][1]

15

In [13]:
# Approach 2
state_wise_data = {
    "Delhi" : 15,
    "Haryana" : 35,
    "UP" : 100
}

In [14]:
state_wise_data["Delhi"]

15

In [15]:
state_wise_data["UP"]

100

In [16]:
state_wise_data[0]

KeyError: 0

In [18]:
state_wise_data.Delhi
# This works in some other programming languages but not in Python

AttributeError: 'dict' object has no attribute 'Delhi'

In [22]:
d = {}

In [24]:
type(d)

dict

In [25]:
# KEYS ARE ALWAYS UNIQUE

In [27]:
a = {
    "Delhi" : 15,
    "Delhi" : 10,
    "Delhi" : 30,
    "Haryana" : 36,
    "UP" : 100,
    "Delhi" : 20
}

In [28]:
a["Delhi"]

20

In [29]:
# In case of repetitive keys, the last value will be kept!

In [30]:
a

{'Delhi': 20, 'Haryana': 36, 'UP': 100}

In [31]:
a["Maharashtra"] = 80

In [32]:
a

{'Delhi': 20, 'Haryana': 36, 'UP': 100, 'Maharashtra': 80}

In [33]:
a["Delhi"]

20

In [37]:
a["delhi"] = 1000 # PYTHON IS CASE SENSITIVE!

In [38]:
a

{'Delhi': 20, 'Haryana': 36, 'UP': 100, 'Maharashtra': 80, 'delhi': 1000}

In [39]:
a["Delhi"] = 30

In [40]:
a

{'Delhi': 30, 'Haryana': 36, 'UP': 100, 'Maharashtra': 80, 'delhi': 1000}

In [48]:
Avenger = {
    "name" : "Thor",
    "age" : 1500,
    "weapons" : ["stormbreaker", "mjolnir"]
}

In [49]:
Avenger.update({
    "name" : "Thor Odinson",
    "weapons" : ["stormbreaker"],
    "strongest?" : True,
    "eyes" : 1
})

In [50]:
Avenger

{'name': 'Thor Odinson',
 'age': 1500,
 'weapons': ['stormbreaker'],
 'strongest?': True,
 'eyes': 1}

In [51]:
random = {
    "a" : 1,
    "b" : 2,
    "c" : 3,
    "d" : 4
}

In [52]:
random["b"]

2

In [53]:
random["e"]

KeyError: 'e'

In [54]:
# GET FUNCTION

In [57]:
print(random.get("e")) # Returns None instead of throwing an error!

None

In [58]:
random.get("e", "KEY NOT PRESENT!")

'KEY NOT PRESENT!'

In [59]:
random.get("b")

2

In [60]:
a

{'Delhi': 30, 'Haryana': 36, 'UP': 100, 'Maharashtra': 80, 'delhi': 1000}

In [62]:
a.pop("delhi") # Deletes the corresponding key value pair

1000

In [63]:
a

{'Delhi': 30, 'Haryana': 36, 'UP': 100, 'Maharashtra': 80}

In [64]:
a.pop()

TypeError: pop expected at least 1 argument, got 0

In [66]:
'''
Question 1 - 
Given two dictionaries A and B, 
Write a python program to merge these dictionaries.

Example -
A = {
    "a" : 4,
    "b" : 5,
    "c" : 6
}

B = {
    "b" : 1,
    "d" : 20
}

Result = {
    "a" : 4,
    "b" : 1,
    "c" : 6,
    "d" : 20
}
'''

'\nQuestion 1 - \nGiven two dictionaries A and B, \nWrite a python program to merge these dictionaries.\n\nExample -\nA = {\n    "a" : 4,\n    "b" : 5,\n    "c" : 6\n}\n\nB = {\n    "b" : 1,\n    "d" : 20\n}\n\nResult = {\n    "a" : 4,\n    "b" : 1,\n    "c" : 6,\n    "d" : 20\n}\n'

In [67]:
A = {
    "a" : 4,
    "b" : 5,
    "c" : 6
}

B = {
    "b" : 1,
    "d" : 20
}

In [69]:
# METHOD 1
A.update(B)

In [70]:
A

{'a': 4, 'b': 1, 'c': 6, 'd': 20}

In [71]:
A = {
    "a" : 4,
    "b" : 5,
    "c" : 6
}

B = {
    "b" : 1,
    "d" : 20
}

In [72]:
random = {1,2,3} | {4,5,6}

In [73]:
random

{1, 2, 3, 4, 5, 6}

In [80]:
# METHOD 2
result = A | B # Union Operator also works on dictionaries

In [81]:
result

{'a': 4, 'b': 1, 'c': 6, 'd': 20}

In [84]:
# METHOD 3
result = {**A, **B} # Unpacking / Spread Operator

In [83]:
result

{'a': 4, 'b': 1, 'c': 6, 'd': 20}

In [85]:
# ITERATION IN A DICTIONARY

In [86]:
Avenger

{'name': 'Thor Odinson',
 'age': 1500,
 'weapons': ['stormbreaker'],
 'strongest?': True,
 'eyes': 1}

In [87]:
a = Avenger

In [88]:
a

{'name': 'Thor Odinson',
 'age': 1500,
 'weapons': ['stormbreaker'],
 'strongest?': True,
 'eyes': 1}

In [89]:
for i in a: # By default, it will iterate on the keys
    print(i)

name
age
weapons
strongest?
eyes

In [90]:
for i in a: 
    print(a[i]) # This allows to iterate over the values

Thor Odinson
1500
['stormbreaker']
True
1

In [91]:
for i in a: 
    print(f"{i} -> {a[i]}")

name -> Thor Odinson
age -> 1500
weapons -> ['stormbreaker']
strongest? -> True
eyes -> 1

In [92]:
a.keys()

dict_keys(['name', 'age', 'weapons', 'strongest?', 'eyes'])

In [93]:
a.values()

dict_values(['Thor Odinson', 1500, ['stormbreaker'], True, 1])

In [94]:
a.items()

dict_items([('name', 'Thor Odinson'), ('age', 1500), ('weapons', ['stormbreaker']), ('strongest?', True), ('eyes', 1)])

In [95]:
for i in a.keys():
    print(i)

name
age
weapons
strongest?
eyes

In [96]:
for i in a.values():
    print(i)

Thor Odinson
1500
['stormbreaker']
True
1

In [98]:
for i in a.items():
    print(f"{i[0]} -> {i[1]}")

name -> Thor Odinson
age -> 1500
weapons -> ['stormbreaker']
strongest? -> True
eyes -> 1

In [104]:
for key, value in a.items():
    print(f"{key} -> {value}")

name -> Thor Odinson
age -> 1500
weapons -> ['stormbreaker']
strongest? -> True
eyes -> 1

In [108]:
# MEMBERSHIP OPERATOR
# Returns True if the key is present and returnes False if not

In [109]:
"strongest?" in a

True

In [110]:
"RANDOM" in a

False

In [111]:
'''
Question 2 - 
1. Take a string as input.
2. Create a dictionary acc to the following criteria - 
- There will be one key value pair for each unique character - 
- Key will be character and value will be the count of character inside the string

INPUT - "rrsssstttt"
OUTPUT -
{
    "r": 2,
    "s": 4,
    "t": 4
}
'''

'\nQuestion 2 - \n1. Take a string as input.\n2. Create a dictionary acc to the following criteria - \n- There will be one key value pair for each unique character - \n- Key will be character and value will be the count of character inside the string\n\nINPUT - "rrsssstttt"\nOUTPUT -\n{\n    "r": 2,\n    "s": 4,\n    "t": 4\n}\n'

In [112]:
def character_count(a):
    result = {}
    
    for i in a:
        if i in result:
            result[i] += 1
        else:
            result[i] = 1
        
    return result

In [113]:
character_count("rrsssstttt")

{'r': 2, 's': 4, 't': 4}

In [114]:
character_count("This is a very complex complexity inducing random string!")

{'T': 1,
 'h': 1,
 'i': 6,
 's': 3,
 ' ': 8,
 'a': 2,
 'v': 1,
 'e': 3,
 'r': 3,
 'y': 2,
 'c': 3,
 'o': 3,
 'm': 3,
 'p': 2,
 'l': 2,
 'x': 2,
 't': 2,
 'n': 4,
 'd': 2,
 'u': 1,
 'g': 2,
 '!': 1}

In [117]:
'''
HETEROGENEITY ->
    - Keys -> Any immutable data structure (Anything other than list, set, dictionary)
    - Values -> Any python object  
'''

'\nHETEROGENEITY ->\n    - Keys -> Any immutable data structure (Anything other than list, set, dictionary)\n    - Values -> Any python object  \n'

In [118]:
random = {
    "key1" : [1,2,3],
    "key2" : {
        45 : 56.7
    },
    45.6 : {1,2,3},
    True : (1,2,3),
    (1,2,3) : "random"
}

In [119]:
random.get((1,2,3))

'random'

In [120]:
random[(1,2,3)]

'random'

In [122]:
random["key2"]

{45: 56.7}

In [121]:
random = {
    "key1" : [1,2,3],
    "key2" : {
        45 : 56.7
    },
    45.6 : {1,2,3},
    True : (1,2,3),
    [1,2,3] : "random"
}

TypeError: unhashable type: 'list'